.calculator {
    grid-area: content;
    display: grid;
    grid-template: 1.2fr 6fr 1fr / 5fr 1fr;
    grid-template-areas: 
        "screen screen"
        "numbers operators"
        "commands commands";
    background: grey;
    border-radius: 15px;
}

.calculator .screen {
    grid-area: screen;
    display: flex;
    justify-content: end;
    align-items: center;
    background: rgb(208, 227, 230);
    padding: 10%;
    margin: 10%;
    border-radius: 15px;
    color: black;
}

.calculator .numbers {
    grid-area: numbers;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.calculator .numbers button {
    height: 50%;
    margin: 0 3%;
    border: .1rem solid black;
    cursor: pointer;
    background: green;
    color: white;
    border-radius: .3rem;
}

.calculator .operators {
    grid-area: operators;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.calculator .operators button {
    height: 15%;
    border: .1rem solid black;
    cursor: pointer;
    background: green;
    color: white;
    border-radius: .3rem;
}

.calculator .commands {
    grid-area: commands;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.calculator .commands button {
    width: 100%;
    margin: 0 .1rem;
    border: .1rem solid black;
    cursor: pointer;
    background: green;
    color: white;
    border-radius: .3rem;
}